<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{movie.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card>
    <ion-card-title>
      <img src="{{movie.cover}}" alt="Algo salió mal" (click)="play()">
    </ion-card-title>
    <ion-card-subtitle>
      <p>Calificación: {{movie.punctuation}}</p>
      <p>Duración: {{movie.duration}}hrs</p>
      <p>Idioma: {{movie.lenguage}}</p>
      {{movie.description}}
      <p>Protagonizado por: {{movie.actors}}</p>
      <p>Dirección: {{movie.directors}}</p>
    </ion-card-subtitle>
  </ion-card>
  <ion-item class="ion-padding">
    <ion-buttons slot="start">
      <ion-button (click)="addList()">
        <ion-icon slot="start" *ngIf="!addedList" name="add"></ion-icon>
        <ion-icon slot="start" *ngIf="addedList" name="close-outline"></ion-icon>
        Mi lista
      </ion-button>
      <ion-button (click)="watchLater()">
        <ion-icon slot="start" *ngIf="!addedToWatch" name="eye-outline"></ion-icon>
        <ion-icon slot="start" *ngIf="addedToWatch" name="eye-off-outline"></ion-icon>
        Ver más tarde
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>