ion-toolbar{
    text-align: center;
}
ion-card{
    margin:3.2%;
    max-width: 350px;
    width: 350px;
    max-height: 650px;
    height: 500px;
    display: inline-block;
    position:relative;

}
ion-button{
    position: relative;
    display: inline-block;
    margin:auto;
    width:30%;
}

.position {
    display: inline-block;
    position: relative;
     
}
#logo {
    width: 25px;
    height: 25px;
}