<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MuvCLips
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content class="Series">
    <ion-slide>
      <h1>Series</h1>
    </ion-slide>
    <ion-card>
      Black Mirror  
    </ion-card>
    <ion-card>
      The Walking Dead  
    </ion-card>
    <ion-card>
      Breaking Bad
    </ion-card>
    <ion-card>
      Gotham
    </ion-card>
    <ion-card>
      The Good Doctor
    </ion-card>
  </ion-card-content>
  <ion-card-content class="Peliculas">
    <ion-slide>
      <h1>Películas</h1>
    </ion-slide>
    <ion-card>
      Club de cuervos 
    </ion-card>
    <ion-card>
      American Horror Story
    </ion-card>
    <ion-card>
      Naruto
    </ion-card>
    <ion-card>
      Élite
    </ion-card>
    <ion-card>
      One punch man
    </ion-card>
  </ion-card-content>
</ion-content>
