<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/icon/logo.png" alt="Algo saló mal" id="logo"> MuvClips
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-title>Peliculas TOP</ion-title>
  <ion-slides [options]="slideOptions">
    <ion-slide *ngFor="let movie of moviesTop">
      <ion-card>
        <img src="{{movie.cover}}" (click)="watchMovie(movie)">
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-title>Series TOP</ion-title>
  <ion-slides [options]="slideOptions">
    <ion-slide *ngFor="let serie of seriesTop">
      <ion-card>
        <img src="{{serie.cover}}" (click)="watchSerie(serie)">
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-title>Series</ion-title>
  <ion-slides [options]="slideOptions">
    <ion-slide *ngFor="let serie of series">
      <ion-card *ngIf="!serie.new">
        <img src="{{serie.cover}}" (click)="watchSerie(serie)">
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-title>Películas</ion-title>
  <ion-slides [options]="slideOptions">
    <ion-slide *ngFor="let movie of movies">
      <ion-card *ngIf="!movie.new">
        <img src="{{movie.cover}}" (click)="watchMovie(movie)">
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>