<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/icon/logo.png" alt="Algo saló mal" id="logo"> MuvClips
    </ion-title>
    <ion-item id="filtro">
      <ion-label>+18</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <div>
    <ion-title>Series</ion-title>
    <div *ngFor="let movie of movies" class="position">
      <ion-card *ngIf="movie.type == 'S' && !movie.new">
        <img src="{{movie.cover}}" (click)="watchSerie(movie)">
      </ion-card>
    </div>
  </div>
  <div>
    <ion-title>Películas</ion-title>
    <div *ngFor="let movie of movies" class="position">
      <ion-card *ngIf="movie.type == 'P' && !movie.new">
        <img src="{{movie.cover}}" (click)="watchMovie(movie)">
      </ion-card>
    </div>
  </div>
</ion-content>