<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-label>
      Las instrucciones de recuperacion de contraseña se enviaran al correo electrónico especificado
      en el registro
    </ion-label>
  </div>

  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Ingrese su correo</ion-label>
      <ion-input type="text" [(ngModel)]="txt"></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-button size="large" type="submit" expand="block" (click)="sendMessage()">Enviar Correo</ion-button>
  </div>
</ion-content>
