<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{movie.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card>
    <ion-card-title>
      <img src="{{movie.cover}}" alt="Algo salió mal">
    </ion-card-title>
    <ion-card-subtitle>
      <p>Calificación: {{movie.punctuation}}</p>
      <p>Idioma: {{movie.lenguage}}</p>
      {{movie.description}}
      <p>Protagonizado por: {{movie.actors}}</p>
      <p>Dirección: {{movie.directors}}</p>
    </ion-card-subtitle>
  </ion-card>
  
  <ion-item class="ion-padding">
    <ion-buttons slot="start">
      <ion-button (click)="addList()">
        <ion-icon slot="start" *ngIf="!addedList" name="add"></ion-icon>
        <ion-icon slot="start" *ngIf="addedList" name="close-outline"></ion-icon>
        Mi lista
      </ion-button>
      <ion-button (click)="watchLater()">
        <ion-icon slot="start" *ngIf="!addedToWatch" name="eye-outline"></ion-icon>
        <ion-icon slot="start" *ngIf="addedToWatch" name="eye-off-outline"></ion-icon>
        Ver más tarde
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Selecciona una Temporada" interface="popover" [(ngModel)]="SelectedSeason" 
                (ionChange)="updateList()">
      <div *ngFor="let t of this.seasons; let i = index">
        <ion-select-option value="{{i}}">Temporada {{i+1}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>
  <div *ngIf="this.chapters.length !== 0">
    <div *ngFor="let chapter of this.chapters; let i = index">
      <ion-item (click)="watchChapter(i)">
        <ion-label>
          <h3>{{i+1}}. {{get('name', i)}}</h3>
          <h6>{{get('description', i)}}</h6>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
