<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{movie.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card>
    <ion-card-title>
      <img src="{{movie.cover}}" alt="Algo salió mal">
    </ion-card-title>
    <ion-card-subtitle>
      <p>Idioma: {{movie.lenguage}}</p>
      {{movie.description}}
      <p>Protagonizado por: {{movie.actors}}</p>
      <p>Dirección: {{movie.directors}}</p>
    </ion-card-subtitle>
  </ion-card>

  <div class="ion-padding" class="ion-text-center">
    <ion-button size="large" type="submit" expand="block" (click)="play()">Ver Trailer</ion-button>
  </div>
</ion-content>
