<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{movie.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <img src="{{movie.cover}}" alt="Algo salió mal" (click)="play()">
  <ion-item>
    <ion-label>Idioma: {{movie.lenguage}}</ion-label>
  </ion-item>
  <ion-item>
    {{movie.description}}
  </ion-item>
  <ion-item>
    <ion-label>Protagonizado por: {{movie.actors}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Dirección: {{movie.directors}}</ion-label>
  </ion-item>
</ion-content>
